## Upload excel file

In [1]:
import pandas as pd
from datetime import date
import os

In [2]:
path = os.getcwd()
file_extension = '.xls'

xlxs_file_list = []
for root,dirs,files in os.walk(path):
    for name in files: 
        if name.endswith(file_extension):
            file_path = os.path.join(root,name)
            xlxs_file_list.append(file_path)
print(xlxs_file_list)

['d:\\My Documents\\Desktop\\python_training_2022_10_19\\python\\data\\master_model\\master_model.xls']

In [3]:
today = date.today()
# today_date = str(today).split("-")[-1]
# month = str(today).split("-")[-2]
# year = str(today).split("-")[-3]

dfs = []
for f in xlxs_file_list:
    df = pd.read_excel(f)
    dfs.append(df)

In [4]:
dfs = pd.concat(dfs)
dfs

    model_name  width  thickness
0          R50    0.2         46
1          R52    0.2         52
2          R54    0.2         46
3          R55    0.3         61
4          R56    0.3         64
..         ...    ...        ...
103        S30    0.1         14
104        S31    0.1         16
105        S32    0.1         16
106        S33    0.1         14
107        S34    0.1         16

[108 rows x 3 columns]

In [5]:
df1 = dfs.copy()
df1['serial'] = df1['model_name']+str(today)
df1

    model_name  width  thickness         serial
0          R50    0.2         46  R502022-11-18
1          R52    0.2         52  R522022-11-18
2          R54    0.2         46  R542022-11-18
3          R55    0.3         61  R552022-11-18
4          R56    0.3         64  R562022-11-18
..         ...    ...        ...            ...
103        S30    0.1         14  S302022-11-18
104        S31    0.1         16  S312022-11-18
105        S32    0.1         16  S322022-11-18
106        S33    0.1         14  S332022-11-18
107        S34    0.1         16  S342022-11-18

[108 rows x 4 columns]

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:1234@192.168.1.102:5432/test')

with engine.connect() as connection:
  df1.to_sql('test_table5', connection, index=False,if_exists='append')